sudo: required

services:
  - docker

language: bash

script:
  # prepare qemu
  - docker run --rm --privileged multiarch/qemu-user-static:register --reset
  # build image
  - docker build -t cwmr/gitea:armhf .
  # test image
  #- docker run cwmr/gitea:armhf ???
  # push image
  - docker login -u="$DOCKER_USER" -p="$DOCKER_PASS"
  #- TAG=$(grep "ENV MYSQL_VERSION" Dockerfile | awk 'NF>1{print $NF}')
  #- docker tag cwmr/gitea:armhf cwmr/gitea:$TAG
  #- docker push cwmr/gitea:$TAG
  - docker push cwmr/gitea:armhf
